<div class="container-fluid">
<h1>Employee Details</h1>
<div class="container" style="padding-top:20px;">   
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Emp ID</th>
        <th>Full name</th>
        <th>Email</th>
        <th>Designation</th>
        <th>Line Manager</th>
        <th>Director</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="employee != undefined">
        <td>{{ employee.EmpID }}</td>
        <td>{{ employee.FullName }}</td>
        <td>{{ employee.Email }}</td>
        <td>{{ employee.DesignationValue }}</td>
        <td><a routerLink="/employees/{{employee.LineManagerID}}">{{employee.LineManagerValue}}</a></td>
        <td><a routerLink="/employees/{{employee.ManagingDirectorID}}">{{employee.ManagingDirectorValue}}</a></td>
        <td><a routerLink="/add-employee/{{employee.key}}">Edit</a></td>
    </tr>
    </tbody>
</table>
</div>
</div>

<br>

<div class="container-fluid" *ngIf="managers != undefined && managers != null">
<h1>Mapped Line Managers</h1>
<div class="container" style="padding-top:20px;">   
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Emp ID</th>
        <th>Full name</th>
        <th>Email</th>
        <th>Designation</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let manager of managers | async">
            <td>{{ manager.EmpID }}</td>
            <td><a routerLink="/employees/{{manager.key}}">{{ manager.FullName }}</a></td>
            <td>{{ manager.Email }}</td>
            <td>{{ manager.DesignationValue }}</td>
            <td>
                <a href="javascript:void(0)" (click)="RemoveManager(manager.key)">Remove</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>

<br>

<div class="container-fluid" *ngIf="managees != undefined && managees != null">
    <h1>Line Managees</h1>
    <div class="container" style="padding-top:20px;">   
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Emp ID</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Designation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of managees | async">
                <td>{{ emp.EmpID }}</td>
                <td><a routerLink="/employees/{{emp.key}}">{{ emp.FullName }}</a></td>
                <td>{{ emp.Email }}</td>
                <td>{{ emp.DesignationValue }}</td>
                <td>
                    <a href="javascript:void(0)" (click)="RemoveManagee(emp.key)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>