<h1>Designations</h1>
<br>
<div class="row">
  <div class="col-sm-4 col-md-2">
      <label class="pull-left padding-top">New Designation</label>
  </div>
  <div class="col-sm-8 col-md-4">
      <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" style="width:75%;display: inline-block;" class="form-control" 
              placeholder="Enter Designation" id="desig" required [(ngModel)]="desigValue" name="desig">
          
            <button type="submit" class="btn btn-success pull-right" style="margin-left:10px;">Add</button>
          </div>
      </form>
      <br>
  </div>
</div>

<div>
<!-- <ul [@listStagger]="designations">
    <li *ngFor="let desig of designations | async">
      <a href="javascript:void(0)">{{ desig.payload.val() }}</a>
    </li>
</ul> -->
<ul [@listStagger]="designations" class="list-group">
    <li class="list-group-item" *ngFor="let desig of designations | async">
      <label>{{ desig.payload.val() }}</label>
      <a href="javascript:void(0)" (click)="RemoveDesignation(desig.key)">
          <i class="fa fa-close" style="font-size:24px;color:red;float:right"></i>
      </a>
    </li>
</ul>
</div>
