<div class="container-fluid">

  <h1>Employees</h1>

  <div class="row">
    <div class="col-md-6">
        <label class="pull-left" style="font-size:20px; margin-right: 10px;">Designation:</label>
        <select id="designation" style="width: 50%; margin-right: 10px;" [(ngModel)]="designationKey"
         class="form-control pull-left" name="designation">
            <option value="0" ng-selected="selected">All</option>
            <option *ngFor="let designation of designations" value={{designation.key}}>
                {{designation.value }}
            </option>
        </select>
        <button type="submit" class="btn btn-success" (click)="FilterByDesig(designationKey || '0')">Search</button>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <input type="text" placeholder="Search" class="form-control pull-right" 
        (input)="FilterList($event.target.value)">
      <input id="chkUnassigned" type="checkbox" [(ngModel)]="LM_flag" (change)="GetUnAssignedList(LM_flag)" />
      <label for="chkUnassigned" style="padding-left:5px;">View unassigned only</label>
    </div>
  </div>
  
  <div class="container-fluid nodisplay">
    <input type="file" style="width:25%;" class="pull-left" (change)="onFileChange($event)" 
      multiple="false" accept=".xlsx" />
    <button type="submit" class="btn btn-success" *ngIf="data != null" (click)="ImportData()">Import</button>
  </div>

  <div class="row" style="padding-left: 15px;padding-right: 15px;">
      <label class="fs-16">Total: <span>{{ employees.length || 0 }}</span></label>
      <label style="padding-left:10px; padding-right:10px;" class="fs-16">|</label>
      <a style="font-size:16px;" routerLink="/add-employee">Add new employee</a>
    </div>

  <div class="container" style="padding-top:20px;">   
    <table class="table table-striped table-hover" [mfData]="employees" #mf="mfDataTable">
      <thead>
        <tr>
          <th style="width:7%"><mfDefaultSorter by="EmpID">Emp ID</mfDefaultSorter></th>
          <th><mfDefaultSorter by="FullName">Full Name</mfDefaultSorter></th>
          <th>Email</th>
          <th><mfDefaultSorter by="DesignationValue">Designation</mfDefaultSorter></th>
          <th><mfDefaultSorter by="LineManagerValue">Line Manager</mfDefaultSorter></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of mf.data">
          <td>{{ employee.EmpID }}</td>
          <td><a target="_blank" routerLink="/employees/{{employee.key}}">{{ employee.FullName }}</a></td>
          <td>{{ employee.Email }}</td>
          <td>{{employee.DesignationValue}}</td>
          <td><a target="_blank" routerLink="/employees/{{employee.LineManagerID}}">{{employee.LineManagerValue}}</a></td>
          <td>
            <a target="_blank" routerLink="/add-employee/{{employee.key}}">Edit</a>
          </td>
          <td>
            <a href="javascript:void(0)" (click)="RemoveEmployee(employee.key, employee.LineManagerID || '0')">Delete</a>
          </td>
          <td style="width: 10%"> 
            <a href="javascript:void(0)" (click)="MarkUnmarkLM(employee.key, employee.IsLineManager)">
              {{employee.IsLineManager ? 'Remove as LM' : 'Mark as LM'}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>