<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
    <app-sidebar></app-sidebar>
  
    <div id="content" style="overflow:scroll;">
      <div class="container-fluid">
        <div>
          <h2>Unassigned Employees ({{ empCount }}):
              <i style="vertical-align: bottom;" (click)="flag=!flag"
                class="fa fa-plus pull-right pointer nodisplay" [class.nodisplay]="flag"></i>
              <i style="vertical-align: bottom;"  (click)="flag=!flag"
                class="fa fa-minus pull-right pointer" [class.nodisplay]="!flag"></i>
          </h2>
        </div>
        <div class="row container-fluid" [class.nodisplay]="!flag">
          <div class="vR" *ngFor="let employee of employees | async"
            mwlDraggable dropData="{{employee | json}}" dragActiveClass="drag-active">
            <span class="vN" data-hovercard-id="employee.key">
              <div class="vT">{{employee.FullName}} - {{employee.DesignationValue}}</div>
            </span>
          </div>
        </div>
        <hr>
      </div>
      <div class="container-fluid nodisplay">
        <a id="logout" href="javascript:void(0)" (click)="onLogOut()">Log out</a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
