th{
    font-size: 13px;
}

a, td{
    font-size: 12px;
}

.bg-white{
    background: white;
}

input[type="radio"]{
    margin-top: 9px;
    margin-right: 5px;
}

div.radio label{
    margin-right: 5px;
}