<div class="container-fluid">

<h1>Directors</h1>

<div class="container-fluid">
    
    <input type="text" placeholder="Search" class="form-control" style="width:20%;float: right;" 
    (input)="FilterList($event.target.value)">
  </div>
  <br>
  <div class="container" style="padding-top:20px;">    
<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Emp ID</th>
    <th>Full name</th>
    <th>Email</th>
    <th>Designation</th>
    <!-- <th>Gender</th> -->
    <th>View LMs</th>
    <th colspan="2"></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let dir of directors | async">
    <td>{{ dir.payload.val().EmpID }}</td>
    <td>{{ dir.payload.val().FullName }}</td>
    <td>{{ dir.payload.val().Email }}</td>
    <td>{{ dir.payload.val().DesignationValue }}</td>
    <!-- <td>{{ dir.payload.val().Gender }}</td> -->
    <td>
      <input type="image" class="show" (click)="GetManagers(dir.key);" 
      src="https://mbtskoudsalg.com/images/vision-icon-png-5.png" style="width:20px;"
      data-toggle="modal" data-target="#LMsModal" />
    </td>
    <td>
      <a routerLink="/add-employee/{{dir.key}}">Edit</a>
    
      <a href="javascript:void(0)" class="padding-left" (click)="MarkUnmarkED(dir.key, dir.payload.val().IsManagingDirector)">
        {{dir.payload.val().IsManagingDirector ? 'Remove as ED' : 'Mark as ED'}}
      </a>
    </td>
  </tr>
</tbody>
</table>
</div>

<!-- The Modal -->
<div class="modal" id="LMsModal">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">Line Managees</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Emp ID</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Designation</th>
            <!-- <th>Gender</th> -->
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of managers | async">
            <td>{{ emp.payload.val().EmpID }}</td>
            <td>{{ emp.payload.val().FullName }}</td>
            <td>{{ emp.payload.val().Email }}</td>
            <td>{{ emp.payload.val().DesignationValue }}</td>
            <!-- <td>{{ emp.payload.val().Gender }}</td> -->
            <td>
              <a routerLink="/add-employee/{{emp.key}}" data-dismiss="modal">Edit</a>
            </td>
            <td> 
              <a href="javascript:void(0)" (click)="RemoveManager(emp.key)">
                Remove
              </a>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!-- Modal footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

</div>